body{ 
	padding:0; 
	margin:0;
	 width:100vw; 
	 height:100vh;
	}
h1{
	color:red;
	text-align: center;
	text-shadow: 3px 3px 10px #994499;
	font-size: 5rem;
}

.box{
	position: relative;
	width: 100%;
	height: 100%;
	left: 30%;
	
}

.box::before{
	content: "";
	position: absolute;
	width: 50px;
	height: 100px;
	left: 450px;
	top: -50px;
	background:#666;
}


.box::after{
	content: "";
	position: absolute;
	width: 50px;
	height: 100px;
	left: 100px;
	top: -50px;
	z-index: -1;
	background:#666;
}
.box>div{
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	box-shadow: 0 0 10px 0px #000;
}

.box>div:nth-child(1){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	left:100px;
}
.box>div:nth-child(2){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	left:200px;
	
}
.box>div:nth-child(3){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	left:300px;
	
}
.box>div:nth-child(4){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	left:400px;
	
}
.box>div:nth-child(5){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	left:500px;
	
}
.box>div:nth-child(6){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	left:0px;
	top:100px;
}
.box>div:nth-child(7){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	top:100px;
	left:100px;
	
}
.box>div:nth-child(8){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	left:200px;
	top:100px;
}
.box>div:nth-child(9){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	top:100px;
	left:300px;
	
}
.box>div:nth-child(10){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	left:400px;
	top:100px;
}
.box>div:nth-child(11){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	top:100px;
	left:500px;
	
}
.box>div:nth-child(12){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	top:200px;
	left:0px;
}
.box>div:nth-child(13){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	top:200px;
	left:100px;
	
}
.box>div:nth-child(14){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	top:200px;
	left:200px;
}
.box>div:nth-child(15){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	top:200px;
	left:300px;
	
}
.box>div:nth-child(16){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	top:200px;
	left:400px;
}
.box>div:nth-child(17){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	top:200px;
	left:500px;
	
}
.box>div:nth-child(18){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	top:300px;
	left:0px;
	
}
.box>div:nth-child(19){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	top:300px;
	left:100px;
	
}
.box>div:nth-child(20){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	top:300px;
	left:200px;
	
}
.box>div:nth-child(21){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	top:300px;
	left:300px;
	
}
.box>div:nth-child(22){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f19;
	top:300px;
	left:400px;
	
}
.box>div:nth-child(23){
	position: absolute;
	width: 100px;
	height: 100px;
	background:#f12;
	top:300px;
	left:500px;
	
}
.box>div>img{
	transition: all 1s;
	z-index: 100;
	animation: run 5s linear infinite;
}

.box>div:hover{
	transition: all 1s;
	transform: rotateY(180deg);
	filter: brightness(2);
	background:yellow;
}
@keyframes run{
	0%{
		transform: translate(0px,0px) scale(.1);

	}
	25%{
		transform: translate(50px,0px)rotate(30deg);
	}
	50%{
		transform: translate(50px,40px)rotate(-30deg) scale(.4);
	}
	75%{
		transform: translate(0px,40px)rotate(-10deg);
	}
	100%{
		transform: skewX(-10deg);
	}
}